.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}


.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-subtitle {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-weight: 500;
  color: #333;
}

.form-control {
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
}

.btn-primary {
  background-color: #60580C;
  border-color: #60580C;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #4b3bcb;
  border-color: #4b3bcb;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
}

.login-footer p {
  margin: 5px 0;
  font-size: 14px;
}

.login-footer a {
  color: #60580C;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.form-check-label {
  font-size: 14px;
  color: #555;
}